.booking_container {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: space-evenly;
    margin: 1rem 6rem;
    margin-top:2rem;
}

.event__detail {
    width: 600px;
    height: 300px;
    padding: 50px;
    position: absolute;
    text-align: justify;
    top: 110px;
    left: 0;
    z-index: 1;
    margin: 0px 20px;
    background-color: black;
    color: white;
}
.design{
    display: flex;
}
.event__detail h2 {
    padding: 5px;
    text-underline-position: above;
}

.event__detail p {
    margin-top: 30px;
    line-height: 1.5;
}

button {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.event__detail button:before {
    padding: 20px 73px;
}

.img_events img {
    position: absolute;
    right: 0;
    width: 750px;
    height: 500px;
    object-fit: contain;
    background-size: cover;
    opacity: 0.5;

}

.img_events img:hover {
    opacity: 1;
}

@media only screen and (max-width:624px) {
    .booking_container {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
      margin: 1rem 3rem;
    }

    .event__detail {
        position: relative;
        justify-content: center;
        text-align: justify;
        margin:100px 0px;
        width: 100%;
        top: auto;
        background: transparent;
        color: black;
        transition: all ease-in-out;
    }
    .event__detail p {
        margin-top: 15px;
        line-height: 1;
    }
  
    .event__detail h2 {
        font-size: 18px;
        font-weight: 500;
    }

    .event__detail p {
        font-size: 14px;
    
    }
    .event__detail:hover{
     transform: scale(1.1);
    
    }
    .img_events {
        justify-content: center;
        align-items: center;
    }

    .img_events img {
        position:absolute;
        top:-15px;
       width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        object-fit: contain;
        opacity: 0.2;
    }
    .img_events img:hover{
        opacity: 0.2;
    }

}