/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
} */

.hero-container{
    background: url('image/img1.jpg');
    /* center center */
    background-size: cover;  
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.hero-container h1{
    color: #fff;
    font-size: 80px;
    font-weight: 300;
    margin-top: -120px;
    font-family: 'Lumanosimo', cursive;
}
.hero-container >p{
    margin-top: 8px;
    color: #fff;
    font-size: 22px;
    
}

.hero-btns{
    margin-top: 35px;
}

.hero-btns .btn{
    margin: 6px;
}

/* .fa-play-circle{
    margin-left: 4px;
} */
@media screen and (max-width: 960px){
    .hero-container >h1{
        font-size: 70px;
        margin-top: -150px;
    }
}
@media screen and (max-width: 768px) {
    .hero-container >h1{
        font-size: 42px;
        margin-top: -10px;
    }
    .hero-container>p{
        font-size: 18px;
        margin-top:10px;
    }
    .btn-mobile{
        display: block;
        text-decoration: none;
    }
    .btn{
        width: 100%;
        
    }
}